<style>
    .card {
        position: fixed;
        margin: 0px 0px 0px 70px;
    }

    #logout
    {
        margin:0px 0px 0px 750px;
    }
</style>


<div class="card">
    <div class="card-header">
        <center><h2>User Listing</h2></center>
    </div>
    <div class="card-body">
        <div class="card-title">
            <a asp-controller="User" asp-action="Create" class="btn btn-success">Add New</a>
            <a asp-controller="Login" asp-action="Index" onclick="popup()" class="btn btn-danger" id="logout">Logout</a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" id="tblUser">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/UserIndexJavaScript.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        LoadUser()
    });

    function LoadUser() {
        tabledata = [];
        // var _token = localStorage.getItem('token');
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7010/api/Authentication/AllUsers',
            // headers: {
            //     'Authorization': 'bearer ' + _token
            // },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {

                $.each(data, function (key, value) {
                    var _edit = "<a class='btn btn-primary' onclick='FunEdit(this)'>Edit</a>";
                    var _remove = "<a class='btn btn-danger' onclick='FunRemove(this)'>Delete</a>";
                    var _hdn = "<input id='hdncode' type='hidden' value=" + value.email + " />"
                    var _action = _hdn + _edit + " | " + _remove
                    tabledata.push([value.id, value.name, value.email, value.role, _action])
                })
            },
            failure: function (error) {

            }
        })
        js('#tblUser').DataTable({
            data: tabledata
        })
    }
    function FunEdit(element) {
        var code = $(element).closest('tr').find('#hdncode').val();
        window.location.href = '/User/Edit?Email=' + code
    }

    function FunRemove(element) {
        var code = $(element).closest('tr').find('#hdncode').val();
        if (confirm('Do you want to remove?')) {
            proceedremove(code)
        }
    }

    function proceedremove(code) {
        // var _token = localStorage.getItem('token');
        $.ajax({
            type: 'DELETE',
            url: 'https://localhost:7010/api/Authentication/Delete?Email=' + code,
            // headers: {
            //     'Authorization': 'bearer ' + _token
            // },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                debugger;
                
                    window.location.href = '/User';
                    alert('Removed user Successfully.')
                
            },
            failure: function (error) {

            }
        })
    }


</script>