<link rel="stylesheet" href="~/css/AuthenticationStyleSheet.css" />

<h5>Verification code has been sent to the registered Email</h5>
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="captcha-container">

                <form action="#" method="post" id="captcha-form">
                    <div class="captcha">
                        <span class="captcha-text" id="captcha-text">AKASH</span>
                       
                    </div>
                    <label for="user-input">Enter the above CAPTCHA Code:</label>
                    <input type="text" id="user-input" name="user-input" required>
                    <button type="submit" id="submit-btn">Submit</button>
                    <button type="button" id="refresh-btn" onclick="refreshCaptcha()">Refresh</button>
                </form>
            </div>
           
            <div class="col-lg-12">
                <div class="form-group">
                    <label>OTP</label>
                    <input type="text" class="form-control" id="txtotp" />
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="card-footer">
    <a onclick="ProceedVerify()" class="btn btn-primary">Verify</a>
</div>
<script src="/js/CaptchaJavaScript.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    var js = jQuery.noConflict(true);


    function ProceedVerify() {

        var isproceed = true;

        var urlParams = new URLSearchParams(window.location.search);
        var user = urlParams.get('username');
        var _otp = $('#txtotp');


        
        var otp = _otp.val();

        
        if (otp == null || otp.trim() == '') {
            _otp.css('border-color', 'red');
            isproceed = false;
        } else {
            _otp.css('border-color', '#ccc');
        }
        if (isproceed) {

            var _obj = new Object();
            _obj.username = user;
            _obj.code = otp;


            $.ajax({
                type: 'POST',
                url: 'https://localhost:7010/api/Authentication/login-2FA',
                data: JSON.stringify(_obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data && data.status === "Success") {
                        localStorage.setItem('token', data.token);
                        // Redirect to a different view for User/Index (Display Page)                    
                        window.location.href = '/User/Index';
                    }
                    else {

                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    // Display error message on the page
                    alert('Invalid verification Code.');
                    window.location.href = 'Index';
                }
            })
        }
    }
</script>