body {
    background-image: url('../authenticatin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin: 0px 0px 0px 780px;
    width: 160px;
    height: 50px;
    background: white;
    color: black;
    border: 2px solid black;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 2s;
}

.card {
    margin: 50px 0px 0px 590px;
    width: 450px;
    border: none;
    background: none;
}

h5 {
    margin: 100px 0px 0px 600px;
}

@media screen and (max-width:600px) {

    h5 {
        margin: 0px 0px 0px 0px;
    }

    .card {
        margin: 0px 0px 0px 0px;
        width: 50%;
    }

    .btn {
        margin: 0px 0px 0px 0px;
    }
}

/*.capcha .preview
{
    color:#555;
    width:100%;
    text-align:center;
    height:40px;
    line-height:40px;
    letter-spacing:8px;
    border:1px solid #888;
    font-family:monospace;
}*/

/*body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/

.captcha-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    margin: 0px 0px 0px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.captcha {
    display: flex;
    align-items: center;
}

.captcha-text {
    font-size: 24px;
    font-weight: bold;
    /*margin-right: 10px;*/
    margin: 0px 0px 0px 150px;
}

/*#refresh-btn 
{
    width: 160px;
    height: 50px;
    background: white;
    color: black;
    border: 2px solid black;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 2s;
}*/

/*#refresh-btn:hover 
{
     background-color: transparent;
     border:2px solid green;
     color:green;
}*/

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

    button:hover {
        background-color: #0056b3;
    }

/*#submit-btn 
{
    width: 160px;
    height: 50px;
    background: white;
    color: black;
    border: 2px solid black;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 2s;
}*/

/*#submit-btn:hover 
{
    background-color: transparent;
    border: 2px solid blue;
    color: blue;
}*/
